/* Стили для клавиатуры в виде телефонной клавиатуры */
.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    max-width: 300px;
    margin: 0 auto;
}

.keyboard-button {
    background-color: #86D3F4;
    color: #1a1a1a;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.keyboard div:nth-child(10) {
    grid-column: span 2;
}

.keyboard .active {
    pointer-events: none;
    background: red;
    color: #fff;
}

.keyboard button[data-value="Cтереть"] {
    width: 500px;
    background: #f00;
    color: #fff;
}

.keyboard button[data-value="0"] {
    grid-column: span 2;
}

button:focus {
    outline: none; /* Убираем стандартное выделение */
    box-shadow: none; /* Убираем стандартную тень фокуса */
}
